.input {
  min-width: 40rem;
  border-width: 1px;
  border-color: #ddd;
  padding: 0.5rem;
  border-radius: 0.125rem;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
}

.button {
  padding: 0.5rem 2rem;
  border-radius: 0.125rem;
  background-color: #60a5fa;
}

.form_container {
  padding: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  .input {
    color: white;
    border-color: #333;
    background-color: #374151;
  }
}
