.page {
  max-width: 80rem;
  margin: auto;
}

.edit_text {
  color: #3a7ff1;
}

.add_button {
  padding: 0.5rem 2rem;
  border-radius: 0.125rem;
  background-color: #60a5fa;
}

.add_button_container {
  padding: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.notification_container {
  position: absolute;
  bottom: 4rem;
  right: 4rem;
  display: flex;
  flex-direction: column;
}
